{% extends 'base.html' %}

{% block layout %}
    <div class="uk-width-1-1">
        <div class="m-title-background uk-flex uk-flex-center uk-flex-middle">
            <h1 class="m-title uk-text-center">{% block page_title %}{% endblock %}</h1>
        </div>
    </div>
    <div class="uk-flex uk-flex-wrap uk-margin-small uk-grid-small">
        <div class="uk-width-1-1">
            <main class="m-page">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}