{% extends 'layouts/default.html' %}

{% block page_title %}{% if mayak.front_page %}{{ mayak.front_page.title }}{% else %}{{ mayak.site_name }}{% endif %}
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-card-body">
        <script type="application/javascript">
            function init () {
                var vidDefer = document.getElementsByTagName('iframe');
                for (var i = 0; i < vidDefer.length; i++) {
                    if (vidDefer[i].getAttribute('data-src')) {
                        vidDefer[i].setAttribute('src', vidDefer[i].getAttribute('data-src'));
                    }
                }
            }

            window.onload = init;
        </script>
        {{ mayak.front_page.content | safe }}
    </div>
{% endblock %}