{% load solo_tags %}
{% load webpack_loader %}
{% load navigations %}
{% get_solo 'cms.SiteConfig' as mayak %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="language" content="RU">
    <title>{% block title %}{{ mayak.site_name }} | ст. Голубицкая{% endblock %}</title>
    <link rel="shortcut icon" href="{{ mayak.favicon.url }}">
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="{% block meta_description %}{{ mayak.meta_description }}{% endblock %}">
    <meta name="keywords" content="Гостевой дом, отдых на море, Голубицкая, Азовское море, Маяк, номера, бассейн">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% get_files 'app' 'js' as app_js_files %}
    {% get_files 'app' 'css' as app_css_files %}
    {% for js_file in app_js_files %}
        <link href="{{ js_file.url }}" rel="preload" as="script">
    {% endfor %}

    {% get_files 'chunk-vendors' 'js' as chunk_js_files %}
    {% for js_file in chunk_js_files %}
        <link href="{{ js_file.url }}" rel="preload" as="script">
    {% endfor %}

    {% for css_file in app_css_files %}
        <link href="{{ css_file.url }}" rel="preload" as="style">
    {% endfor %}
    {% render_bundle 'app' 'css' %}
</head>
<body>
<div id="app">
    <div class="uk-container">
        <header class="m-header">
            <div class="uk-flex uk-flex-wrap uk-flex-middle">
                <div class="uk-width-1-4">
                    <div class="m-logo">
                        <a href="/">
                            <img src="{{ mayak.logo.url }}" alt="{{ mayak.site_name }}" class="uk-responsive-height">
                        </a>
                    </div>
                </div>
                <div class="uk-width-expand uk-visible@m">
                    <div class="m-header-phone uk-text-right">
                        {{ mayak.phone }}
                    </div>
                </div>
                <div class="uk-width-expand uk-hidden@m">
                    <a href="#m-offcanvas" class="uk-text-right uk-align-right uk-margin-remove" uk-toggle>
                        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Меню</span>
                    </a>
                </div>
            </div>
        </header>
        <div id="m-offcanvas" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <div class="m-logo">
                    <a href="/">
                        <img src="{{ mayak.logo.url }}" alt="{{ mayak.site_name }}" class="uk-responsive-height">
                    </a>
                </div>
                <hr>
                {% nav_menu 'main' as mobile_menu %}
                {% if mobile_menu %}
                    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                        {% for item in mobile_menu.items.all %}
                            <li>
                                <a href="{{ item.get_link }}"
                                   title="{{ item.name }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <hr>
                <div>
                    <p>{{ mayak.phone }}</p>
                    <p>{{ mayak.address }}</p>
                </div>
            </div>
        </div>
        <nav class="m-topnav uk-navbar-container uk-visible@m uk-navbar" uk-navbar>
            <div class="uk-navbar-center">
                {% nav_menu 'main' as main_menu %}
                {% if main_menu %}
                    <ul class="uk-navbar-nav">
                        {% for menu_item in main_menu.items.all %}
                            <li>
                                <a href="{{ menu_item.get_link }}"
                                   title="{{ menu_item.name }}">
                                    {{ menu_item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </nav>
        {% block layout %}
            {% block content %}

            {% endblock %}
        {% endblock %}
        <footer class="m-footer uk-light">
            <div class="uk-padding">
                <div class="uk-flex uk-flex-wrap uk-grid-small">
                    <div class="uk-width-1-4@m uk-width-1-1">
                        <h5 class="m-footer-heading">Навигация</h5>
                        {% nav_menu 'main' as footer_menu %}
                        {% if footer_menu %}
                            <ul class="uk-nav uk-margin-auto-vertical">
                                {% for item in footer_menu.items.all %}
                                    <li>
                                        <a href="{{ item.get_link }}"
                                           title="{{ item.name }}">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="uk-width-expand">
                        <h5 class="m-footer-heading">Информация</h5>
                        {{ mayak.footer | safe }}
                    </div>
                    <div class="uk-width-1-4@m uk-width-1-1">
                        <h5 class="m-footer-heading">Поделись ссылкой</h5>
                        <div class="share-btn">
                            <script type="application/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                            <script type="application/javascript" src="//yastatic.net/share2/share.js"></script>
                            <div class="ya-share2"
                                 data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,viber,whatsapp,telegram"
                                 data-counter=""></div>
                        </div>
                        <div class="analytics uk-margin">
                            <!-- Yandex.Metrika informer -->
                            <a href="https://metrika.yandex.ru/stat/?id=15060589&amp;from=informer"
                               target="_blank" rel="nofollow"><img
                                    src="https://informer.yandex.ru/informer/15060589/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                    style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
                                    title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                                    class="ym-advanced-informer" data-cid="15060589" data-lang="ru"/></a>
                            <!-- /Yandex.Metrika informer -->
                        </div>
                    </div>
                </div>
                <h3 class="uk-heading-line uk-text-center"><span>2012 - {% now "Y" %} г.</span></h3>
            </div>
        </footer>
    </div>
</div>

{% render_bundle 'chunk-vendors' 'js' %}
{% render_bundle 'app' 'js' %}
<!-- Yandex.Metrika counter -->
<script type="application/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter15060589 = new Ya.Metrika({
                    id: 15060589,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/15060589"
              style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- /Google Analytics -->
<script type="application/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47703042-13', 'auto');
    ga('send', 'pageview');

</script>
<!-- /Google Analytics -->
</body>
</html>