// UIKit Theme Customizations (see https://getuikit.com/docs/sass)
// 1. Your custom variables and variable overwrites in ./theme/_variables.scss
@import url('https://fonts.googleapis.com/css?family=Lora');
@import "theme/variables";
// $global-link-color: #DA7D02;
// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";
// 3. Your custom mixin overwrites.
//@import "theme/accordion-mixins.scss";
// 4. Import UIkit.
@import "~uikit/src/scss/uikit.scss";

a {
    &:hover {
      text-decoration: none;
    }
}

#app {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.m-header {
  background: $card-default-background;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px 20px 0 0;
  .m-header-phone {
    color: $primary-color;
    font-size: 1.5rem;
  }
}

.m-topnav {
  background: linear-gradient(to right, #209ad0, #046c9f) !important;

  .uk-navbar-nav > li > a {
    background: transparent;
    color: white;
    min-height: 50px;
    transition: all .1s ease-in-out;

    &:hover {
      background: #054e71;
      color: #80ddff;
    }
  }
}

.m-title-background {
  background-image: url("../images/mayak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;

  .m-title {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  }
}

.m-footer {
  background: $primary-color;
  color: white;
  min-height: 150px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px !important;
}

.uk-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
}