$global-color: #000000;
$card-default-background: #f1f1f1;
$tile-default-background: #f1f1f1;
$base-body-background: #f1f1f1;
$base-body-font-family: Lora, sans-serif;
$base-heading-font-family: Lora, sans-serif;
$global-font-family: Lora, sans-serif;